
/* header section */
.header {
    background-image: url("images/image\ 1\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
}
.header h1 {
    color: white;
}
.about-akan {
    padding-left: 200px;
}
.akan-photo img {
    width: 700px;
    padding-left: 0;
    height: 600px;
    border-radius: 20%;
    
}

/* about application section */

.about-app {
    text-align: center;
    padding: 0px 500px;
}