
/* header section */
.header {
    background-image: url("images/20a6114a9edcc0f71ae0dbcc9efcaf3a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.header h1 {
    color: white;
}
.about-akan {
    padding-left: 200px;
}
.akan-photo img {
    width: 700px;
    padding-left: 0;
    height: 600px;
    border-radius: 20%;
    
}

/* about application section */

.about-app {
    text-align: center;
    padding: 50px 500px;
    background-color: rgba(248, 152, 169, 0.918);
}
#year {
    width: 300px;
    height: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#month {
    width: 300px;
    height: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#day {
    width: 300px;
    height: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#btn {
    width: 150px;
    height: 40px;
    margin-top: 25px;
}
.radio label {
    font-size: 18px;
}
#female {
    margin-left: 40px;
}
input[type=radio] {
    border: 0px;
    width: 100px;
    height: 1.5em;
}
.about-app h2{
    font-size: 40px;
    color: blue;
}